.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding-top: 40vh;  /* Adjust this to move the content down vertically */
    padding-bottom: 50px; /* This adds padding between About and Projects, increase value as needed */
    box-sizing: border-box;
    transition: padding-bottom 0.5s ease;
}


.about-paragraph {
    font-family: "Raleway", serif;
    font-weight: 200;
    font-size: 1.20rem;
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
    letter-spacing: 0.08em;
    width: 80%;
    white-space: normal;
    line-height: 1.50rem;
}

.about-day {
    color: #333333;
}

.about-night {
    color: #ffffff;
}

.about-night .about-paragraph {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8); /* Glow effect */
}
